@import "tailwindcss";

@theme {
  --color-accent: #de0202; 
  --color-upsidedown: #101010;

  --font-baskerville: "Libre Baskerville", serif;
  --font-jost: "Jost", sans-serif;
}

body {
  background-color: #222;
  color: #fff;
  font-family: var(--font-jost);
  -webkit-font-smoothing: antialiased;
}

@utility text-glow {
  text-shadow: 
    0 0 10px rgba(222, 2, 2, 0.7),
    0 0 20px rgba(222, 2, 2, 0.5),
    0 0 40px rgba(222, 2, 2, 0.3);
}